.services {
    background-image: radial-gradient(circle at center top,#FFFFFF,#4B4F58);
    padding:100px 20px 20px 20px;
}

.services h1{
    color: #4B4F58;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.service-card-list {

    display: flex;
    justify-content: space-between;
}

.service-card {
    width: 350px;
    text-align: center;
}

.service-card h5 {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: #4B4F58;
    font-weight: 300;
}

.service-card p {
    font-family: 'Source Sans Pro', sans-serif; 
    color:whitesmoke;
}

.service-card a{
    font-family: 'Source Sans Pro', sans-serif; 
    color:#f02846;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background-color: white;
    transition: 300ms ease-in-out;
}

.service-card a:hover{
    color:white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background-color: #f02846;
}


.service-card img {
    height:240px;
    width:340px;
}
.service-card-head{
    margin-bottom: 20px;
}
.service-card-body {
    text-align: justify;
    height: 130px;
}