@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

.Title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:100px;
}
.Title h1{
    font-family: 'Source Sans Pro', sans-serif;                                       
    font-weight: 100;
    color:white;
    text-align: center;
    border-bottom: 1px solid #4B4F58;
    width:110px;
}

.portfolio {
    background-image: radial-gradient(circle at center bottom,#FFFFFF,#4B4F58);
    padding:100px 20px 20px 20px;
    display: flex;
    justify-content: center;
}
.portfolio-container {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects-list{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:1.4rem;
}

.project-card-title a {
    color:#4B4F58;
    font-family: 'DM Serif Display', serif;
    font-size:25px;
}
.projects-list p {
    font-family: 'Source Sans Pro', sans-serif; 
    color:#4B4F58;
    text-align: justify;
    height:215px;
    padding:10px;
    border-radius: 3px;
}

.projects-list img {
    height:250px;
    width:400px;
    border-radius: 3px;
}
.project-spacer {
    height:250px;
    width:400px;
}
.project-card {
    text-align: center;
    margin-bottom: 50px;
}



