.footer {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
}
.footer-container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}
.author p{
    color:#3A3A3A;
}

.footer-links {
    width:330px;
    display: flex;
    justify-content: space-between;
}

.footer-links a{
    color:#3A3A3A;
    text-decoration: none;
}